.news {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - var(--headerTop));
    height: calc(100dvh - var(--headerTop));
    margin-top: var(--headerTop);
    padding-top: 1rem;
    padding-bottom: 8rem;
    background-color: var(--background);
    background-image: url('/noise.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 300px 300px;
    transform: translateX(calc(100% + 10px));
    transition: transform .4s ease-in-out;
    box-shadow: 0 0 10px 0 var(--black20);

    &.active {
        transform: translate(0);
        overflow-y: auto;
    }

    &.past {
        transform: translateX(-50%);
        overflow-y: auto;

        @media screen and (min-width:992px) {
            transform: translate(0);
        }
    }

    &.next {
        &>div {
            opacity: 0;
        }
    }

    @media screen and (min-width:992px) {
        position: relative;
        width: 320px;
        transform: translate(0);
    }

    &Content {
        &Text {
            text-align: center;
            font-size: 1rem;
            color: var(--text);
            margin-top: 1rem;
        }
    }
}