.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;

    &Container {
        // display: flex;
        // justify-content: flex-start;
        // align-items: start;
        // padding: 0 var(--padding);
        padding: .875rem 0;
        margin: 0;
    }

    &Title {
        position: relative;
        font-weight: bold;
        font-size: 1.5rem;
        // text-align: center;
        color: var(--text);
        width: 100%;
        height: 56px;
        // margin: .75rem auto 0 auto;
        overflow: hidden;

        &Logo {
            width: 48px;
            height: auto;
            display: inline-block;
            margin-right: 0.75rem;
        }

        &Span {
            position: absolute;
            width: auto;
            max-width: calc(100% - 80px);
            display: inline-block;
            padding: .5rem 2.25rem .5rem 1rem;
            background-color: var(--glass);
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
            border-radius: 0 2rem 2rem 0;
            // transform: translateX(-50%);
            transition: transform .4s cubic-bezier(0.4, 0, 0.3, 1), opacity .2s cubic-bezier(0.4, 0, 0.3, 1);
            white-space: nowrap;
            opacity: 1;
            display: flex;
            align-items: center;

            &.past {
                transform: translateX(-100vw);
                opacity: 0;

                @media screen and (min-width:768px) {
                    transform: translateX(-100vw);
                }
            }

            &.active {
                // transform: translateX(-50%);
            }

            &.next {
                transform: translateX(100vw);
                opacity: 0;

                @media screen and (min-width:768px) {
                    transform: translateX(100vw);
                }
            }
        }
    }
}