@use '../../styles/font.scss' as *;
@use '../../styles/mixin.scss' as *;

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    
    &Container {
        position: relative;
        padding: .875rem 0;
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 0;
        z-index: 1;

        @media screen and (min-width:992px) {
            max-width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    &Title {
        @include gabriela();
        position: relative;
        font-weight: bold;
        font-size: 1.75rem;
        color: var(--text);
        width: 100%;
        height: 55px;

        &Logo {
            width: 42px;
            height: auto;
            display: inline-block;
            margin-right: 1rem;
        }

        &Span {
            position: absolute;
            width: auto;
            max-width: calc(100% - 40px);
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            display: inline-block;
            padding: .375rem 1.52rem .375rem 1.25rem;
            border-radius: 2rem;
            -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
            transition: opacity .3s cubic-bezier(0.4, 0, 0.3, 1) .4s, color 1s ease-in-out, background 1s ease-in-out, text-shadow 1s ease-in-out;
            white-space: nowrap;
            opacity: 1;
            display: flex;
            align-items: center;
            overflow: hidden;

            &.past {
                opacity: 0;
                transition: opacity .3s cubic-bezier(0.4, 0, 0.3, 1), color 1s ease-in-out, background 1s ease-in-out, text-shadow 1s ease-in-out;
                pointer-events: none;
            }

            &.next {
                opacity: 0;
                transition: opacity .3s cubic-bezier(0.4, 0, 0.3, 1), color 1s ease-in-out, background 1s ease-in-out, text-shadow 1s ease-in-out;
                pointer-events: none;
            }

            &Weather {
                @include gabriela();
                letter-spacing: 1px;
                font-weight: bold;
                font-style: normal;
                display: flex;
                align-items: center;

                &.noWeather {
                    font-size: 1rem;
                }

                &Infos {
                    font-size: .875rem;
                    display: flex;
                    align-items: center;
                    gap: 1.25rem;

                    @media screen and (min-width: 992px) {
                        font-size: 1.25rem;
                    }

                    svg {
                        path {
                            fill: var(--text);
                        }
                    }
                }

                &Info {
                    display: flex;
                    align-items: center;
                }


                &Icon {
                    margin-right: .125rem;
                }

                &Location {
                    font-size: .625rem;
                    font-weight: normal;
                    font-style: italic;
                    display: block;
                    opacity: .7;

                    @media screen and (min-width: 992px) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    &Offline {
        position: absolute;
        font-size: .875rem;
        width: auto;
        max-width: calc(100% - 40px);
        top: -120px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        color: var(--error);
        white-space: nowrap;
        padding: .25rem 1.25rem .25rem 1.25rem;
        border-radius: 2rem;
        background-color: var(--glass);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        pointer-events: auto;
        display: flex;
        align-items: center;
        gap: .75rem;
        transition: top .3s ease-in-out;

        &.active {
            top: 58px;
        }

        &Svg {
            width: 26px;
            height: auto;
            display: block;

            path,circle {
                fill: var(--error);
            }
        }
    }
}