.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;

    &Container {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        padding: 0 var(--padding);
    }

    &Title {
        position: relative;
        font-weight: bold;
        font-size: 1.125rem;
        text-align: center;
        color: var(--text);
        width: 100%;
        height: 45px;
        margin: .75rem auto 0 auto;
        overflow: hidden;

        &Span {
            position: absolute;
            width: auto;
            max-width: calc(100% - 80px);
            display: inline-block;
            padding: .5rem 2rem;
            background-color: var(--glass);
            -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
            border-radius: 2rem;
            transform: translateX(-50%);
            transition: transform .4s cubic-bezier(0.4, 0, 0.3, 1), opacity .2s cubic-bezier(0.4, 0, 0.3, 1);
            white-space: nowrap;
            opacity: 1;

            &.past {
                transform: translateX(-100vw);
                opacity: 0;

                @media screen and (min-width:768px) {
                    transform: translateX(-100vw);
                }
            }

            &.active {
                transform: translateX(-50%);
            }

            &.next {
                transform: translateX(100vw);
                opacity: 0;

                @media screen and (min-width:768px) {
                    transform: translateX(100vw);
                }
            }
        }
    }
}