.group {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    padding: 150px 0;
    background-color: var(--background);
    background-image: url('/noise.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 500px 500px;
    transform: translateX(-50%);
    transition: border-radius .2s ease-in-out, transform .4s ease-in-out;
    overflow-y: auto;

    // @media screen and (min-width:768px) {
    //     width: 20%;
    // }

    @media screen and (min-width:992px) {
        width: 350px;
        transform: translateX(0);
    }

    &.active {
        transform: translateX(0);
    }

    &.secondary {
        transform: scale(.95);
        border-radius: 20px;
        overflow: hidden;
    }

    &Content {
            overflow-y: auto;
        &Text {
            text-align: center;
            font-size: 1.375rem;
            color: var(--text);
        }
    }
}