@use '../../styles/mixin.scss' as *;

.group {
    @include background();
    width: 100%;
    height: 100vh;
    height: 100dvh;
    padding-top: var(--headerTop);
    padding-bottom: 6rem;
    transition: border-radius .2s ease-in-out, transform .4s cubic-bezier(0.4, 0, 0.3, 1), background-color .8s ease-in-out;
    overflow-y: auto;
    
    @media screen and (min-width:992px) {
        width: 300px;
        transform: translateX(0);
        box-shadow: 0 0 10px 0 var(--black20);
    }

    &.active {
        transform: translateX(0);

        &.secondary {
            transform: translateX(0) scale(.95);
            border-radius: 20px;
            overflow: hidden;

            @media screen and (min-width: 992px) {
                transform: translateX(0) scale(1);
                border-radius: 0;
            }
        }
    }

    &.past {
        transform: translateX(-30%);

        @media screen and (min-width:992px) {
            transform: translate(0);
        }
    }

    &Content {
        overflow-y: auto;

        .past & {
            opacity: 0;

            @media screen and (min-width:992px) {
                opacity: 1;
            }
        }

        &Text {
            text-align: center;
            font-size: 1rem;
            color: var(--text);
            margin-top: 1rem;
        }

        &Count {
            font-size: .75rem;
            font-style: italic;
            color: var(--text);
            display: block;
            padding: 1rem;
            text-align: center;
            opacity: 0.5;
        }
    }
}