@use '../../styles/animation.scss' as *;
@use '../../styles/mixin.scss' as *;

.button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: center;
    background: transparent;
    border: none;

    &:hover {
        cursor: pointer;
    }

    &Icon {
        @include glassContainer();
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        // background: var(--glass);
        
        @supports not (background: -webkit-named-image(i)) {
            backdrop-filter: url(#button-filter);
        }
        @supports (background: -webkit-named-image(i)) {
            backdrop-filter: blur(1px) saturate(var(--saturation));
        }

        .small & {
            width: 32px;
            height: 32px;
        }
        
        @media screen and (min-width: 992px) {
            transition: background-color .2s ease-in-out;

            &:hover {
                background-color: var(--hover);
            }
        }

        svg {
            width: 100%;
            height: 100%;
            display: block;

            path {
                fill: var(--icons);

                @media screen and (min-width: 992px) {
                    fill: var(--text);
                }
            }
        }
    }

    &Add {
        border-radius: 100%;

        .small &  {
            -webkit-backdrop-filter: none;
            backdrop-filter: none;
        }
        
        &Line {
            position: absolute;
            width: 22px;
            height: 4px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform-origin: center;
            background: var(--icons);
            transition: transform .2s ease-in-out;
            border-radius: 2px;

            .small &  {
                background: var(--text);
            }

            @media screen and (min-width: 992px) {
                background: var(--text);
            }

            .small & {
                width: 16px;
            }

            &+.buttonAddLine {
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }

        &Svg {
            width: 36px;
            height: 36px;
            display: block;

            path {
                fill: var(--icons);

                @media screen and (min-width: 992px) {
                    fill: var(--text);
                }
            }
        }
    }

    &Prev {
        border-radius: 100%;

        &Line {
            position: absolute;
            width: 16px;
            height: 4px;
            bottom: 49%;
            left: 45%;
            border-radius: 0 2px 2px 0;
            background: var(--icons);
            transform: translate(-50%, -50%) rotate(-45deg);
            transform-origin: center;
            transition: transform .2s ease-in-out;

            @media screen and (min-width: 992px) {
                background: var(--text);
            }

            .small & {
                width: 14px;
            }

            &+.buttonPrevLine {
                top: calc(61%);
                bottom: auto;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }

    &Delete {
        width: 24px;
        height: 24px;
        margin: 0;
        background: none;
        box-shadow: none;
        backdrop-filter: none;

        &:hover {
            background-color: transparent;
        }

        .buttonIconSvg {
            path {
                fill: var(--error);
            }
        }
    }

    &Refresh {
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        border-radius: 100%;

        .small & {
            width: 32px;
            height: 32px;
        }

        &.refreshing {
            .buttonIconSvg {
                animation: rotate 1.5s linear infinite;
            }
        }

        .buttonIconSvg {
            width: 34px;
            height: auto;
            display: block;

            .small & {
                width: 22px;
                height: 22px;
            }

            path {
                stroke: var(--icons);
                fill: transparent;

                @media screen and (min-width: 992px) {
                    stroke: var(--text);
                }
            }
        }
    }

    &Save {
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        border-radius: 100%;


        .buttonIconSvg {
            width: 28px;
            height: auto;
            display: block;

            path {
                fill: transparent;
                stroke: var(--icons);

                @media screen and (min-width: 992px) {
                    stroke: var(--text);
                }
            }
        }
    }

    &Share {
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        border-radius: 100%;

        .buttonIconSvg {
            width: 28px;
            height: auto;
            display: block;

            path {
                fill: transparent;
                stroke: var(--icons);

                @media screen and (min-width: 992px) {
                    stroke: var(--text);
                }
            }
        }
    }

    &Check {
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        border-radius: 100%;
        background: var(--glass);

        .buttonIconSvg {
            width: 28px;
            height: auto;
            display: block;

            path {
                fill: transparent;
                stroke: var(--valid);
            }
        }
    }

    &Text {
        color: var(--text);
        font-size: 1.25rem;
    }

    &Offline {
        width: 38px;
        height: 38px;
        padding: 0.25rem;

        .buttonIconSvg {
            width: 32px;
            height: auto;
            display: block;
            
            path, circle {
                fill: var(--error);
            }
        }
    }

    &Glass {
        display: none;
    }
}