.button {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: center;
    background: transparent;
    border: none;
    transition: all .2s ease-in-out;

    &:hover {
        cursor: pointer;
    }

    &Icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;

        svg {
            width: 100%;
            height: 100%;
            display: block;

            path {
                fill: var(--text);
            }
        }
    }

    &Add {
        background-color: var(--glass);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        border-radius: 100%;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        
        &Line {
            position: absolute;
            width: 18px;
            height: 4px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform-origin: center;
            background: var(--text);
            transition: transform .2s ease-in-out, width .2s ease-in-out;

            &+.buttonAddLine {
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }

        &Svg {
            width: 36px;
            height: 36px;
            display: block;

            path {
                fill: var(--text);
            }
        }
    }

    &Prev {
        background-color: var(--glass);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        border-radius: 100%;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;

        &Line {
            position: absolute;
            width: 13px;
            height: 4px;
            bottom: 47%;
            left: 45%;
            transform: translate(-50%, -50%) rotate(-45deg);
            transform-origin: center;
            background: var(--text);
            transition: transform .2s ease-in-out, width .2s ease-in-out;

            &+.buttonPrevLine {
                top: calc(54% + 2px);
                bottom: auto;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }

    &Delete {
        width: 24px;
        height: 24px;

        .buttonIconSvg {
            path {
                stroke: var(--text);
                fill: transparent;
            }
        }
    }

    &Parameter {
        width: 38px;
        height: 38px;
        padding: .125rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }

    &Refresh {
        width: 42px;
        height: 42px;
        padding: 0.5rem;
        background-color: var(--glass);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        border-radius: 100%;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;

        &.refreshing {
            animation: rotate 4s linear infinite;
        }

        .buttonIconSvg {
            path {
                stroke: var(--text);
                fill: transparent;
            }
        }
    }

    &Save {
        width: 38px;
        height: 38px;
        padding: 0.25rem;

        .buttonIconSvg {
            path {
                stroke: var(--text);
            }
        }
    }

    &Text {
        color: var(--text);
        font-size: 1.25rem;
    }
}