@use '../../styles/animation.scss' as *;

.button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: center;
    background: transparent;
    border: none;

    &:hover {
        cursor: pointer;
    }

    &Icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .small & {
            width: 32px;
            height: 32px;
        }

        .shadowInner & {
            box-shadow: inset 0 0 2px var(--white40);
        }
        
        @media screen and (min-width: 992px) {
            transition: background-color .2s ease-in-out;

            &:hover {
                background-color: var(--hover);
            }
        }

        svg {
            width: 100%;
            height: 100%;
            display: block;

            path {
                fill: var(--text);
            }
        }
    }

    &Add {
        background-color: var(--glass);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        border-radius: 100%;

        .small &  {
            background: var(--black10);
        }
        
        &Line {
            position: absolute;
            width: 24px;
            height: 4px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform-origin: center;
            background: var(--text);
            transition: transform .2s ease-in-out;
            border-radius: 2px;

            .small & {
                width: 16px;
            }

            &+.buttonAddLine {
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }

        &Svg {
            width: 36px;
            height: 36px;
            display: block;

            path {
                fill: var(--text);
            }
        }
    }

    &Prev {
        // background-color: var(--glass);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        border-radius: 100%;

        &Line {
            position: absolute;
            width: 17px;
            height: 4px;
            bottom: 50%;
            left: 45%;
            border-radius: 0 2px 2px 0;
            background: var(--text);
            transform: translate(-50%, -50%) rotate(-45deg);
            transform-origin: center;
            transition: transform .2s ease-in-out;

            .small & {
                width: 14px;
            }

            &+.buttonPrevLine {
                top: calc(59% + 1px);
                bottom: auto;
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }
    }

    &Delete {
        width: 24px;
        height: 24px;
        margin: 0;

        &:hover {
            background-color: transparent;
        }

        .buttonIconSvg {
            path {
                stroke: var(--text);
                fill: transparent;
            }
        }
    }

    &Refresh {
        width: 52px;
        height: 52px;
        padding: 0.5rem;
        // background-color: var(--glass);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        border-radius: 100%;

        .small & {
            width: 32px;
            height: 32px;
        }

        &.refreshing {
            animation: rotate 1.5s linear infinite;
        }

        .buttonIconSvg {
            width: 34px;
            height: auto;
            display: block;

            .small & {
                width: 22px;
                height: 22px;
            }

            path {
                stroke: var(--text);
                fill: transparent;
            }
        }
    }

    &Save {
        width: 38px;
        height: 38px;
        padding: 0.25rem;

        .buttonIconSvg {
            path {
                fill: transparent;
                stroke: var(--text);
            }
        }
    }

    &Text {
        color: var(--text);
        font-size: 1.25rem;
    }

    &Offline {
        width: 38px;
        height: 38px;
        padding: 0.25rem;

        .buttonIconSvg {
            width: 32px;
            height: auto;
            display: block;
            
            path, circle {
                fill: var(--error);
            }
        }
    }
}