.layer {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 1;
    transition: background .4s ease-in-out, backdrop-filter .4s ease-in-out;
    pointer-events: none;
    z-index: 10;

    &.active {
        // background: var(--black10);
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        pointer-events: auto;

        .layerInner {
            transform: translateY(calc(0% - .5rem));
        }
    }

    &Inner {
        position: absolute;
        width: calc(100% - 1rem);
        left: .5rem;
        bottom: 0;
        border-radius: 24px 24px 48px 48px;
        border: 1px solid var(--grey);
        background: var(--background);
        box-shadow: 0 0 8px 0 var(--black10);
        transform: translateY(100%);
        transition: transform .4s ease-in-out, height .4s ease-in-out, background .4s ease-in-out;
        z-index: 11;
        overflow: hidden;
    }

    &Header {
        background: var(--header);

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .75rem var(--padding);
        }
    }

    &Title {
        font-size: 1.125rem;
        color: var(--white);
        line-height: 1.25;
        font-weight: bold;
        padding-right: 1.5rem;
        margin-top: 0.25rem;
    }

    &Close {
        position: relative;
        width: 30px;
        height: 30px;
        // top: 1rem;
        // right: 1rem;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: opacity .2s ease-in-out;

        &:hover {
            opacity: .6;
        }

        &Line {
            position: absolute;
            width: 24px;
            height: 4px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            transform-origin: center;
            background: var(--white);
            transition: transform .2s ease-in-out, width .2s ease-in-out;

            &+.layerCloseLine {
                transform: translate(-50%, -50%) rotate(135deg);
            }
        }
    }

    &Content {
        .container {
            padding: 1rem var(--padding);
        }
    }

    &Input {
        font-size: 1rem;
        padding: .5em .75rem;
        width: 100%;
        border-radius: 8px;
        margin-bottom: 1rem;
    }

    &Feed {
        &Text {
            color: var(--text);
            margin-bottom: .75rem;
        }

        &Item {
            list-style-type: none;
        }

        &Button {
            font-size: 1rem;
            color: var(--text);
            text-align-last: left;
            padding: 0.5rem;
            border: 1px solid var(--text);
            border-radius: 8px;
            background: transparent;
            margin-bottom: .375rem;
            cursor: pointer;

            &:hover {
                background: var(--hover);
            }
        }

        &Title {
            font-weight: bold;
        }

        &Href {
            font-size: 0.75rem;
            line-height: 1;
            font-style: italic;
            opacity: 0.5;
        }
    }

    &Error {
        font-size: 1.125rem;
        text-align: center;
        color: var(--error);
        margin-bottom: 2rem;
    }

    &Submit {
        font-size: 1rem;
        color: var(--text);
        background: var(--background);
        border: 2px solid var(--text);
        padding: .75rem;
        margin: 1rem auto 0 auto;
        display: block;
        border-radius: 8px;
        cursor: pointer;
        transition: opacity .2s ease-in-out;

        &:hover {
            opacity: .6;
        }
    }
}