@use '../../styles/animation.scss' as *;
@use '../../styles/mixin.scss' as *;

@property --fade-color {
    syntax: '<color>';
    inherits: false;
    initial-value: transparent;
}

.layer {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 1;
    transition: background .4s ease-in-out, backdrop-filter .4s ease-in-out;
    pointer-events: none;
    z-index: 10;

    &.active {
        // background: var(--black10);
        pointer-events: auto;
    }

    &Inner {
        @include glassContainer();
        position: absolute;
        width: calc(100% - 1.5rem);
        left: 0.75rem;
        bottom: 3.5rem;
        border-radius: 24px;
        // background: var(--glass);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        transform: scale(0);
        transform-origin: 6rem 100%;
        transition: bottom .15s ease-in-out, background .4s ease-in-out, transform .2s ease-in-out;
        z-index: 11;
        overflow: hidden;

        &.step2up {
            transform-origin: 10rem 100%;
        }

        .active & {
            bottom: 5.5rem;
            transform: scale(1);
            transition: bottom .2s ease-in-out, background .4s ease-in-out;
            animation: popTransform .4s ease-in-out;
        }

        @media screen and (min-width: 992px) {
            max-width: 620px;
        }
    }

    &Header {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .875rem 1rem;
        }
    }

    &Title {
        font-size: 1.375rem;
        color: var(--text);
        line-height: 1.25;
        font-weight: bold;
        padding-right: 1.5rem;
        margin-top: .25rem;
    }

    &Close {
        position: relative;
        width: 30px;
        height: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: opacity .2s ease-in-out;

        &:hover {
            opacity: .6;
        }

        &Line {
            position: absolute;
            width: 24px;
            height: 4px;
            top: 50%;
            left: 50%;
            border-radius: 2px;
            transform: translate(-50%, -50%) rotate(45deg);
            transform-origin: center;
            background: var(--text);
            transition: transform .2s ease-in-out, width .2s ease-in-out;

            &+.layerCloseLine {
                transform: translate(-50%, -50%) rotate(135deg);
            }
        }
    }
    
    &Content {
        .container {
            padding: 1rem;
        }

        &Title {
            font-size: 1rem;
            font-weight: bold;
            color: var(--text);
            margin-top: 0;
            margin-bottom: 0.5rem;
            display: block;
        }

        &Scroll {
            position: relative;
            margin-bottom: 1rem;

            &::after {
                --fade-color: var(--layergradient);
                
                position: absolute;
                content: '';
                width: 30px;
                height: 100%;
                top: 0;
                right: 0;
                background: linear-gradient(to left, var(--fade-color), transparent);
                pointer-events: none;
                transition: --fade-color .8s ease-in-out;
            }
        }

        &Parameter {
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-start;
            gap: .75rem;
            width: auto;
            padding-bottom: .75rem;
            overflow-y: auto;

            &Item {
                cursor: pointer;
                min-width: 90px;

                &:last-child {
                    margin-right: 30px;
                }

                &.active {
                    .layerContentParameterStyle {
                        border: 2px solid var(--text);
                    }

                    .layerContentParameterText {
                        text-decoration: underline;
                    }
                }
            }

            &Style {
                @include background();
                font-size: 2rem;
                color: var(--text);
                width: 100%;
                height: 40px;
                border: 0px solid transparent;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background .4s ease-in-out, border .1s ease-in-out;
                overflow: hidden;

                &.auto {
                    background: linear-gradient(90deg,
                        #E8F4F9 0%, 
                        #E8F4F9 25%, 
                        #ffffff 26%, 
                        #ffffff 50%, 
                        #FFE8B8 51%, 
                        #FFE8B8 75%, 
                        rgba(42, 42, 42, 1) 76%, 
                        rgba(42, 42, 42, 1) 100%
                    );
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }
            }

            &Text {
                font-size: .75rem;
                color: var(--text);
                text-align: center;
                margin-top: 0.25rem;
                display: block;
                transition: color .4s ease-in-out;
            }

            &Btn {
                width: 32px;
                height: 32px;
            }

            &Val {
                font-size: 1.25rem;
                font-weight: bold;
                color: var(--text);
                align-self: center;
            }
        }

        &Half {
            display: flex;
            flex-wrap: wrap;
            align-items: start;

            .layerContentSize,
            .layerContentLocation {
                width: 50%;

                h2 {
                    text-align: left;
                }

                &Input {
                    @include input();
                    margin-bottom: 0;
                }
            }
        }
    }
}