@use '../../styles/mixin.scss' as *;

.layer {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 1;
    transition: background .4s ease-in-out, backdrop-filter .4s ease-in-out;
    pointer-events: none;
    z-index: 10;

    &.active {
        // background: var(--black20);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        pointer-events: auto;

        .layerInner {
            transform: translateY(calc(0% + 1px));

            @media screen and (min-width: 992px) {
                transform: translateX(-50%);
            }
        }
    }

    &Inner {
        position: absolute;
        width: calc(100% - 1rem);
        left: 0.5rem;
        bottom: .5rem;
        border-radius: 24px 24px 48px 48px;
        background: var(--white30);
        box-shadow: 0 0 8px 0 var(--black20);
        border: 1px solid var(--glass);
        transform: translateY(110%);
        transition: transform .4s ease-in-out, background .4s ease-in-out;
        z-index: 11;
        overflow: hidden;

        @media screen and (min-width: 992px) {
            width: 620px;
            left: 50%;
            transform: translateX(-50%) translateY(110%);
        }
    }

    &Header {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .75rem var(--padding);
        }
    }

    &Title {
        font-size: 1.5rem;
        color: var(--text);
        line-height: 1.25;
        font-weight: bold;
        padding-right: 1.5rem;
        margin-top: .25rem;
    }

    &Close {
        position: relative;
        width: 30px;
        height: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: opacity .2s ease-in-out;

        &:hover {
            opacity: .6;
        }

        &Line {
            position: absolute;
            width: 24px;
            height: 4px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            transform-origin: center;
            background: var(--text);
            transition: transform .2s ease-in-out;

            &+.layerCloseLine {
                transform: translate(-50%, -50%) rotate(135deg);
            }
        }
    }

    &Content {
        @include wysiwyg();
        
        .container {
            padding: 1rem var(--padding) 2rem var(--padding);
        }

        h2 {
            font-size: 1rem;
            margin-top: 0;
        }
        
        p {
            font-size: .75rem;
        }

        &Parameter {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: .75rem;
            margin-bottom: 1.25rem;
            cursor: pointer;

            &Item {
                width: calc(25% - .75rem);
                max-width: 120px;

                &.active {
                    .layerContentParameterStyle {
                        border: 2px solid var(--text);
                    }

                    .layerContentParameterText {
                        text-decoration: underline;
                    }
                }
            }

            &Style {
                @include background();
                font-size: 2rem;
                color: var(--text);
                width: 100%;
                height: 50px;
                border: 2px solid transparent;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background .4s ease-in-out;
                overflow: hidden;

                &.auto {
                    background: linear-gradient(90deg,
                        #E8F4F9 0%, 
                        #E8F4F9 25%, 
                        #ffffff 26%, 
                        #ffffff 50%, 
                        #FFE8B8 51%, 
                        #FFE8B8 75%, 
                        rgba(42, 42, 42, 1) 76%, 
                        rgba(42, 42, 42, 1) 100%
                    );
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }
            }

            &Text {
                font-size: .75rem;
                color: var(--text);
                text-align: center;
                margin-top: 0.375rem;
                display: block;
                transition: color .4s ease-in-out;
            }

            &Button {
                @include background();
                font-size: 2rem;
                color: var(--text);
                width: 100%;
                height: 40px;
                border: 2px solid var(--text);
                border-radius: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background .4s ease-in-out;
            }

            &Val {
                font-size: 1rem;
                font-weight: bold;
                color: var(--text);
                align-self: center;
            }
        }

        &Half {
            display: flex;
            flex-wrap: wrap;
            align-items: start;

            .layerContentSize,
            .layerContentLocation {
                width: 50%;

                h2 {
                    text-align: left;;
                }

                &Input {
                    @include input();
                }
            }
        }
    }
}