@use '../../styles/animation.scss' as *;
@use '../../styles/mixin.scss' as *;

.layer {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 1;
    transition: background .4s ease-in-out, backdrop-filter .4s ease-in-out;
    pointer-events: none;
    z-index: 10;

    &.active {
        pointer-events: auto;
    }

    &Inner {
        @include glassContainer();
        position: absolute;
        width: calc(100% - 1.5rem);
        left: 0.75rem;
        bottom: 3.5rem;
        border-radius: 24px;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        transform: scale(0);
        transform-origin: 10rem 100%;
        transition: bottom .15s ease-in-out, background .4s ease-in-out, transform .2s ease-in-out;
        z-index: 11;
        overflow: hidden;

        &.step2up {
            transform-origin: 14rem 100%;
        }

        .active & {
            bottom: 5.5rem;
            transform: scale(1);
            animation: popTransform .4s ease-in-out;
        }

        @media screen and (min-width: 992px) {
            max-width: 620px;
        }
    }

    &Header {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .875rem 1rem;
        }
    }

    &Title {
        font-size: 1.375rem;
        color: var(--text);
        line-height: 1.25;
        font-weight: bold;
        padding-right: 1.5rem;
        margin-top: .25rem;
    }

    &Close {
        position: relative;
        width: 30px;
        height: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: opacity .2s ease-in-out;

        &:hover {
            opacity: .6;
        }

        &Line {
            position: absolute;
            width: 24px;
            height: 4px;
            top: 50%;
            left: 50%;
            border-radius: 2px;
            transform: translate(-50%, -50%) rotate(45deg);
            transform-origin: center;
            background: var(--text);
            transition: transform .2s ease-in-out, width .2s ease-in-out;

            &+.layerCloseLine {
                transform: translate(-50%, -50%) rotate(135deg);
            }
        }
    }

    &Content {
        font-family: 'Times New Roman', sans-serif;

        .container {
            padding: 1rem;
        }

        &Data {
            margin-bottom: 1.5rem;
        }

        &Informations {
            max-height: 200px;
            border-radius: 0 0 12px 12px;
            overflow-y: auto;

            &::after {
                content: "";
                position: sticky;
                display: block;
                left: 0;
                right: 0;
                bottom: 0;
                height: 50px;
                margin-top: -10px;
                background: linear-gradient(to bottom, rgba(255,255,255,0), var(--layergradient));
                pointer-events: none;
            }
        }
        
        p {
            font-size: 1rem;
            color: var(--text);
            margin-bottom: 1.25rem;
            word-wrap: break-word;

            &.layerContentTitle {
                font-size: 1.25rem;
                line-height: 1.25;
                font-weight: bold;
                color: var(--text);
                margin-top: 0;
                margin-bottom: .5rem;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}