.footer {
    position: fixed;
    bottom: 1.5rem;
    width: 100%;
    text-align: center;

    @media screen and (min-width:992px) {
        bottom: 1.25rem;
    }

    &Container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 var(--padding);
    }

    &Button {
        width: 42px;
    }

    &Action {
        width: 42px;
    }

    &Content {
        display: inline-flex;
        justify-content: space-between;
        gap: .5rem;
        margin: 0 auto;
        max-width: 500px;
        padding: .25rem 1rem .25rem 1.25rem;
        background-color: var(--glass);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        border-radius: 30px;
    }

    &Item {
        min-width: 62px;
        padding: .25rem .75rem;
        text-align: center;
        background: transparent;
        border: none;
        display: block;
        cursor: pointer;
        border-radius: 20px;

        @media screen and (min-width:992px) {
            &:hover {
                background: var(--hover);
            }
        }

        &Svg {
            width: 20px;
            height: auto;
            display: block;
            margin: 0 auto 0.25rem auto;

            path {
                fill: var(--text);
            }
        }

        &Text {
            font-size: .75rem;
            color: var(--text);
            width: 100%;
            display: inline-block;
        }
    }

}