@use '../../styles/mixin.scss' as *;

.postItem {
    @include background();
    font-family: 'Times New Roman', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    padding-top: var(--headerTop);
    transform: translateX(calc(100% + 10px));
    transition: transform .4s cubic-bezier(0.4, 0, 0.3, 1), background-color .8s ease-in-out;
    
    &.active {
        transform: translate(0);
        overflow-y: auto;

        &.secondary {
            transform: translate(0) scale(.95);
            border-radius: 20px;
            overflow: hidden;

            @media screen and (min-width: 992px) {
                transform: translate(0) scale(1);
                border-radius: 0;
            }
        }
    }

    @media screen and (min-width:992px) {
        position: relative;
        width: calc(100% - 900px);
        height: calc(100vh - var(--headerTop));
        padding: 1.25rem var(--padding) 8rem var(--padding);
        margin-top: var(--headerTop);
        transform: translate(0);
        border-radius: 0 24px 0 0;
        box-shadow: 0 0 10px 0 var(--black20);
        overflow: hidden;        
    }

    &Inner {
        padding: 1.5rem calc(var(--padding) + 1rem) 8rem calc(var(--padding) + 1rem);
        pointer-events: none;

        .active & {
            pointer-events: auto;
        }

        @media screen and (min-width:992px) {
            padding: 1.5rem calc(var(--padding) - 1.5rem) 8rem calc(var(--padding) - 1.5rem);
        }
    }
    
    &Source {
        position: relative;
        font-size: .75rem;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--text);
        padding-left: 1rem;
        margin-bottom: 0.25rem;
        margin-top: 80px;
        opacity: 0;
        transition: margin-top .6s cubic-bezier(0.3, 0, 0.06, 1) .2s, opacity .8s ease-in-out .3s;

        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            left: 0;
            top: 2px;
            background: var(--text);
            opacity: 0.6;
        }

        .active & {
            margin-top: 0;
            opacity: 0.6;
        }
    }

    &Title {
        font-size: 1.875rem;
        line-height: 1.25;
        font-weight: bold;
        color: var(--text);
        margin-bottom: .25rem;
        max-width: 800px;

        margin-top: 80px;
        opacity: 0;
        transition: margin-top .6s cubic-bezier(0.3, 0, 0.06, 1) .3s, opacity .8s ease-in-out .3s;

        .active & {
            margin-top: 0;
            opacity: 1;
        }
    }

    &Date {
        font-size: .75rem;
        font-style: italic;
        color: var(--text);
        opacity: .5;
        margin-bottom: 1.5rem;
        display: block;
         margin-top: 80px;
        opacity: 0;
        transition: margin-top .6s cubic-bezier(0.3, 0, 0.06, 1) .3s, opacity .8s ease-in-out .3s;

        .active & {
            margin-top: 0;
            opacity: 1;
        }
    }

    &Thumbnail {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 1rem;
        max-width: 600px;
         margin-top: 80px;
        opacity: 0;
        transition: margin-top .6s cubic-bezier(0.3, 0, 0.06, 1) .3s, opacity .8s ease-in-out .3s;

        .active & {
            margin-top: 0;
            opacity: 1;
        }
    }

    &Desc {
        @include wysiwyg();
        color: var(--text);
        font-size: var(--font-size-base);
        text-align: justify;
        font-style: italic;
        margin-bottom: 2rem;
        margin-top: 80px;
        opacity: 0;
        transition: margin-top .6s cubic-bezier(0.3, 0, 0.06, 1) .3s, opacity .8s ease-in-out .3s;

        .active & {
            margin-top: 0;
            opacity: 1;

            &:not(:has(img)) {
                opacity: .6;
            }

            div, p {
                opacity: .7;

                &:has(img),
                &:has(iframe) {
                    opacity: 1;
                }
            }
        }
    }

    &Content {
        @include wysiwyg();
        color: var(--text);
        font-size: var(--font-size-base);
         margin-top: 80px;
        opacity: 0;
        transition: margin-top .6s cubic-bezier(0.3, 0, 0.06, 1) .3s, opacity .8s ease-in-out .3s;

        .active & {
            margin-top: 0;
            opacity: 1;
        }
    }
}