.postItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 102px);
    height: calc(100dvh - 102px);
    margin-top: 102px;
    padding: 1rem var(--padding) 8rem var(--padding);
    background-color: var(--background);
    background-image: url('/noise.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 300px 300px;
    transform: translateX(calc(100% + 10px));
    transition: transform .4s ease-in-out;
    box-shadow: 0 0 10px 0 var(--black10);
    overflow-y: auto;

    &.active {
        transform: translate(0);
    }

    @media screen and (min-width:992px) {
        position: relative;
        width: calc(100% - 960px);
        padding: 3rem var(--padding) 8rem var(--padding);
        transform: translate(0);
    }

    &Source {
        font-size: .75rem;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--text);
        opacity: 0.6;
        margin-bottom: 0.25rem;
    }

    &Title {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--text);
        margin-bottom: 1rem;
    }

    &Text {
        font-size: 1rem;
        color: var(--text);
    }
}