.sourceItem {
    width: 100%;
    display: flex;
    align-items: center;
    padding: .75rem var(--padding);
    cursor: pointer;
    background: transparent;
    transition: all .1s ease-in-out;

    @media screen and (min-width:768px) {
        padding: .625rem calc(var(--padding)/2);
    }

    &:hover {
        background: var(--hover);

        .sourceItemName {
            &:after {
                background: var(--hover);
            }
        }
    }

    &Icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        // background: var(--white);
        pointer-events: none;

        &Svg {
            width: 100%;
            height: 100%;
            display: block;
            border: 2px solid var(--grey);
            padding: .25rem;
            background: var(--white);
        }

        &Img {
            width: calc(100% - .25rem);
            height: calc(100% - .25rem);
            display: block;
        }
    }

    &Name {
        position: relative;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1;
        text-align: left;
        color: var(--text);
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: 1rem;
        width: calc(100% - 68px);
        white-space: nowrap;
        overflow: hidden;
        pointer-events: none;
    }
}