.groupItem {
    width: 100%;
    display: flex;
    align-items: center;
    padding: .375rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color .1s ease-in-out;

    @media screen and (min-width:992px) {
        border-radius: 0;

        &:hover {
            background-color: var(--hover);
        }

        &.active {
            background-color: var(--hover);
        }
    }

    @media screen and (min-width:768px) {
        padding: .75rem calc(var(--padding)/2);
    }

    &Delete {
        flex: 0 0 0;
        overflow: hidden;
        transition: flex .2s ease-in-out, margin .2s ease-in-out;

        .settings & {
            flex: 0 0 20px;
            margin: 0 1rem 0 .5rem;
        }
    }

    &Icon {
        flex: 0 0 42px;

        svg {
            width: 100%;
            height: auto;
            display: block;

            path {
                fill: var(--text);
            }
        }
    }

    &Content {
        flex: 1 1 auto;
        padding-left: 1rem;
        pointer-events: none;
        touch-action: none;
    }

    &Text {
        font-size: 1.125rem;
        font-weight: bold;
        color: var(--text);
        margin-bottom: 0.125rem;
        margin-right: 1rem;
        overflow: hidden;
    }

    &Count {
        font-size: .75rem;
        font-style: italic;
        color: var(--grey);
    }

}