.groupItem {
    width: 100%;
    display: flex;
    align-items: center;
    padding: .375rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color .1s ease-in-out;

    &:hover {
        background-color: var(--hover);
    }

    &.active {
        background-color: var(--hover);
    }

    @media screen and (min-width:768px) {
        padding: .75rem calc(var(--padding)/2);
    }

    &Icon {
        width: 42px;

        svg {
            width: 100%;
            height: auto;
            display: block;

            path {
                fill: var(--text);
            }
        }
    }

    &Content {
        width: calc(100% - 70px);
        padding-left: 1rem;    }

    &Text {
        font-size: 1.125rem;
        font-weight: bold;
        color: var(--text);
        margin-bottom: 0.25rem;
        margin-right: 1rem;
        overflow: hidden;
    }

    &Delete {
        width: 0;
        transition: width .2s ease-in-out, margin-right .2s ease-in-out;

        svg {
            path {
                fill: var(--error);
            }
        }

        .settings & {
            width: 20px;
            margin-right: 1.25rem;
        }
    }

    &Count {
        font-size: .75rem;
        font-style: italic;
        color: var(--grey);
    }

}