.groupItem {
    width: 100%;
    display: flex;
    align-items: center;
    padding: .75rem var(--padding);
    cursor: pointer;
    background: transparent;
    transition: background .1s ease-in-out;

    &:hover {
        background: var(--hover);
    }

    &.active {
        background: var(--hover);
    }

    @media screen and (min-width:768px) {
        padding: .75rem calc(var(--padding)/2);
    }

    &Icon {
        width: 42px;

        svg {
            width: 100%;
            height: auto;
            display: block;

            path {
                fill: var(--text);
            }
        }
    }

    &Content {
        width: calc(100% - 70px);
        padding-left: 1rem;
        pointer-events: none;
    }

    &Text {
        font-size: 1rem;
        font-weight: bold;
        color: var(--text);
        margin-bottom: 0.25rem;
        margin-right: 1rem;
        overflow: hidden;
    }

    &Delete {
        width: 24px;
    }

    &Count {
        font-size: .75rem;
        font-style: italic;
        color: var(--grey);
    }

}