@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes popTransform {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.007);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes burstTransform {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}