@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gabriela';
    src: url('fonts/Gabriela-Regular.woff2') format('woff2'),
        url('fonts/Gabriela-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('fonts/CourierPrime-Italic.woff2') format('woff2'),
        url('fonts/CourierPrime-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('fonts/CourierPrime-Bold.woff2') format('woff2'),
        url('fonts/CourierPrime-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('fonts/CourierPrime-BoldItalic.woff2') format('woff2'),
        url('fonts/CourierPrime-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('fonts/CourierPrime-Regular.woff2') format('woff2'),
        url('fonts/CourierPrime-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JMH Typewriter';
    src: url('fonts/JMHTypewriter-Regular.woff2') format('woff2'),
        url('fonts/JMHTypewriter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JMH Typewriter';
    src: url('fonts/JMHTypewriter-Bold.woff2') format('woff2'),
        url('fonts/JMHTypewriter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gloria Hallelujah';
    src: url('fonts/GloriaHallelujah.woff2') format('woff2'),
        url('fonts/GloriaHallelujah.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin roboto($weight:400) {
    font-family: 'Roboto', Arial, sans-serif;
}

@mixin gabriela($weight:400) {
    font-family: 'Gabriela', Arial, sans-serif;
}

@mixin courierP($weight:400) {
    font-family: 'Courier Prime', Arial, serif;
}

@mixin typewriter($weight:400) {
    font-family: 'JMH Typewriter', Arial, serif;
}

@mixin gloria($weight:400) {
    font-family: 'Gloria Hallelujah', Arial, sans-serif;
}