@use './font.scss' as *;

@mixin wysiwyg() {
    h1 {
        font-size: 2rem;
        color: var(--text);
        line-height: 1.25;
        margin: .75rem 0;
        text-align: center;
        position: relative;
        display: inline-block;
    }

    h2 {
        font-size: 1.5rem;
        color: var(--text);
        line-height: 1.25;
        margin: .5rem 0;
        text-align: center;
        position: relative;
        display: inline-block;
    }

    h3 {
        font-size: 1.25rem;
        color: var(--text);
        line-height: 1.25;
        margin: .5rem 0;
        text-align: center;
        position: relative;
        display: inline-block;
    }

    h4 {

    }

    p {
        font-size: 1rem;
        color: var(--text);
        line-height: 1.25;
        margin-bottom: 1rem;

        @media screen and (min-width:768px) {
            font-size: 1rem;
        }
    }

    a {
        color: var(--text);
        text-decoration: underline;
    }

    ul,
    ol {
        padding-left: 1.125rem;

        li {

        }
    }

    ul {
        li {

        }
    }

    ol {
        li {

        }
    }

    blockquote {
        
    }

    figcaption {
        font-size: .875rem;
        // text-align: center;
        margin-top: .125rem;
        margin-bottom: .5rem;
        opacity: .5;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}