:root {
  --background: rgba(255, 255, 255, 1);
  --text: rgba(0, 0, 0, 1);
  --header: rgba(240, 240, 240, 1);
  --glass: rgba(200, 200, 200, .4);
  --error: rgba(255, 20, 20, 1);
  --hover: rgba(0, 0, 0, 0.2);
  --grey: rgba(123,123,123, 1);
  
  --paper: rgba(245, 244, 237, 1);

  --white: rgba(255, 255, 255, 1);
  --transparent: rgba(255, 255, 255, 0);
  --black: rgba(0, 0, 0, 1);
  --black10: rgba(0, 0, 0, .1);
  --black20: rgba(0, 0, 0, .2);

  --padding: 1rem;
  --max-width: 1440px;
  --headerTop: 70px;

  @media screen and (min-width:768px) {
    --padding: 2rem;
  }

  @media (prefers-color-scheme: dark) {
    --background: rgba(34, 34, 34, 1);
    --text: rgba(230, 230, 230, 1);
    --header: rgba(40, 40, 40, 1);
    --glass: rgba(255, 255, 255, .2);
    --hover: rgba(255, 255, 255, .2);
  }
}