:root {
  --background: rgba(240, 240, 240, 1);
  --text: rgba(0, 0, 0, 1);
  --header: rgba(40, 40, 40, 1);
  --glass: rgba(210, 210, 210, .4);
  --error: rgba(255, 20, 20, 1);
  --hover: rgba(0, 0, 0, 0.2);
  --grey: rgba(123,123,123, 1);
  
  --paper: rgba(245, 244, 237, 1);

  --white: rgba(255, 255, 255, 1);
  --transparent: rgba(255, 255, 255, 0);
  --black: rgba(0, 0, 0, 1);
  --black10: rgba(0, 0, 0, .1);
  --black20: rgba(0, 0, 0, .2);
  --black40: rgba(0, 0, 0, .4);

  --padding: 1rem;
  --max-width: 1440px;
  --headerTop: 80px;

  @media screen and (min-width:768px) {
    --padding: 2rem;
  }

  @media (prefers-color-scheme: dark) {
    --background: rgba(42, 42, 42, 1);
    --text: rgba(230, 230, 230, 1);
    --header: rgba(40, 40, 40, 1);
    --glass: rgba(255, 255, 255, .2);
    --hover: rgba(255, 255, 255, .2);
  }
}

.dark {
  --background: rgba(0, 0, 0, 1);
  --text: rgba(230, 230, 230, 1);
  --hover: rgba(255, 255, 255, .2);
  --glass: rgba(210, 210, 210, .2);
  --header: rgba(40, 40, 40, 1);
}

.light {
  --background: rgba(240, 240, 240, 1);
  --text: rgba(0, 0, 0, 1);
  --hover: rgba(0, 0, 0, 0.2);
  --glass: rgba(210, 210, 210, .4);
  --header: rgba(40, 40, 40, 1);
}

.night {
  --background: rgb(65, 65, 65);
  --text: rgba(230, 230, 230, 1);
  --hover: rgba(255, 255, 255, .2);
  --glass: rgba(255, 255, 255, .2);
  --header: rgba(40, 40, 40, 1);
}
.morning {
  --background: #E8F4F9;
  --text: rgb(7, 5, 5);
  --hover: rgba(0, 0, 0, 0.2);
  --glass: rgba(210, 210, 210, .4);
  --header: rgba(40, 40, 40, 1);
}
.day {
  --background: #ffffff;
  --text: rgba(0, 0, 0, 1);
  --hover: rgba(0, 0, 0, 0.2);
  --glass: rgba(210, 210, 210, .4);
  --header: rgba(40, 40, 40, 1);
}
.afternoon {
  --background: #ffefcb;
  --text: rgba(0, 0, 0, 1);
  --hover: rgba(0, 0, 0, 0.2);
  --glass: rgba(210, 210, 210, .4);
  --header: rgba(40, 40, 40, 1);
}

.forest {
  --background: #b9c498;
  --text: rgba(0, 0, 0, 1);
  --hover: rgba(0, 0, 0, 0.2);
  --glass: rgba(210, 210, 210, .4);
  --header: rgba(40, 40, 40, 1);
}