:root {
  --background: rgba(240, 240, 240, 1);
  --text: rgba(0, 0, 0, 1);
  --glass: rgba(210, 210, 210, .3);
  --icons: rgba(255, 255, 255, 1);
  --valid: #19e13e;
  --valid30: rgba(25, 225, 62, .3);
  --error: #eb522d;
  --hover: rgba(0, 0, 0, .1);
  --grey: rgb(139, 139, 139);
  
  --paper: rgba(245, 244, 237, 1);

  --white: rgba(255, 255, 255, 1);
  --white10: rgba(255, 255, 255, .1);
  --white20: rgba(255, 255, 255, .2);
  --white30: rgba(255, 255, 255, .3);
  --white40: rgba(255, 255, 255, .4);
  --white50: rgba(255, 255, 255, .5);
  --white80: rgba(255, 255, 255, .8);
  --transparent: rgba(255, 255, 255, 0);
  --black: rgba(0, 0, 0, 1);
  --black10: rgba(0, 0, 0, .1);
  --black20: rgba(0, 0, 0, .2);
  --black30: rgba(0, 0, 0, .3);
  --black40: rgba(0, 0, 0, .4);
  --black50: rgba(0, 0, 0, .5);

  --liquid-light: rgba(255, 255, 255, .9);
  --liquid-dark: rgba(0, 0, 0, .6);
  --liquid-reflex-dark: 1;
  --liquid-reflex-light: .8;
  --saturation: 150%;

  --padding: 1rem;
  --max-width: 1440px;
  --headerTop: 100px;

  @media screen and (min-width:768px) {
    --padding: 2rem;
  }

  @media screen and (min-width:992px) {
    --headerTop: 87px;
  }

  @media (prefers-color-scheme: dark) {
    --background: rgba(42, 42, 42, 1);
    --text: rgba(230, 230, 230, 1);
    --glass: rgba(255, 255, 255, .3);
    --hover: rgba(255, 255, 255, .1);

    --liquid-light: rgba(255, 255, 255, .8);
    --liquid-dark: rgba(0, 0, 0, .6);
    --liquid-reflex-dark: 2;
    --liquid-reflex-light: .5;
    --saturation: 200%;
  }
}

.dark {
  --background: rgba(0, 0, 0, 1);
  --text: rgba(220, 220, 220, 1);
  --hover: rgba(255, 255, 255, .1);
  --glass: rgba(16, 15, 46, 0.3);
  --icons: rgba(255, 255, 255, 1);
}

.light {
  --background: rgb(255, 255, 255);
  --text: rgba(0, 0, 0, 1);
  --hover: rgba(0, 0, 0, .1);
  --glass: rgba(255, 255, 255, .3);
  --icons: rgb(255, 255, 255);
}

.night {
  --background: #363636;
  --text: rgb(240, 240, 240);
  --hover: rgba(255, 255, 255, .1);
  --glass: rgba(16, 15, 46, 0.3);
  --icons: rgba(255, 255, 255, 1);
}

.morning {
  --background: #e8f1f9;
  --text: rgb(4, 34, 52);
  --hover: rgba(0, 0, 0, .1);
  --glass: rgba(255, 255, 255, .3);
  --icons: rgb(255, 255, 255);
}

.afternoon {
  --background: #ebe7db;
  --text: rgb(55, 35, 4);
  --hover: rgba(0, 0, 0, .1);
  --glass: rgba(255, 255, 255, .3);
  --icons: rgb(255, 255, 255);
}

.forest {
  --background: #C2D4B4;
  --text: rgb(1, 29, 2);
  --hover: rgba(0, 0, 0, .1);
  --glass: rgba(255, 255, 255, .3);
  --icons: rgb(255, 255, 255);
}

.winter-gradient {
  --background: linear-gradient(-35deg, #B5CFE0 0%, #FFF9F7 70%);
  --text: rgb(55, 35, 4);
  --hover: rgba(0, 0, 0, .1);
  --glass: rgba(255, 255, 255, .3);
  --icons: rgba(0, 0, 0, 1);
}

.bedtime {
  --background: #232e3f;
  --text: rgb(227, 222, 207);
  --hover: rgba(0, 0, 0, .1);
  --glass: rgba(0, 0, 0, .3);
  --icons: rgba(255, 255, 255, 1);
}